.array-container {
  height: 450px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
}

.bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;
}

.bar-value {
  margin-bottom: 4px;
  font-size: 12px;
}

.bar {
    width: 40px;
    background-color: #4dabf7;
    transition: all 0.3s ease;
}

.bar.active {
    background-color: #ff6b6b;
}
.pointer {
  position: absolute;
  top: -20px;
  font-size: 12px;
  font-weight: bold;
}

.low {
  color: blue;
}

.high {
  color: red;
}

.mid {
  color: orange;
}
